*ted_hrlr_translate_pt_en_converter*
*__pycache__
.Trash-0/
.ipynb_checkpoints/
weights
user
literature
results
data/records_new
records/
presentation/experiments/astromer_0/backup/
wandb
*.record
*.swp

mlruns/
outputs
presentation/experiments/astromer_0/results
presentation/experiments/astromer_1/results
presentation/experiments/astromer_2/results
presentation/transitive_results/
presentation/results_old/

data/embeddings/
/data/records
/data/raw_data
/data/raw_data_parquet
data/records_parquet
data/praw/
data/precords/
data/raw_parquet
daniel
run_cris.sh
data/shared

data/temp/
client_secrets.json
mycreds.txt
presentation/pipelines/referee/output