*ted_hrlr_translate_pt_en_converter*
*__pycache__
.Trash-0/
.ipynb_checkpoints/
weights
user
mlruns/
outputs
presentation/experiments/astromer_0/results
presentation/experiments/astromer_1/results
presentation/experiments/astromer_2/results

data/embeddings/
/data/records
results/
