*ted_hrlr_translate_pt_en_converter*
*__pycache__
.Trash-0/
.ipynb_checkpoints/
weights
user
literature
results
data/records_new
presentation/experiments/astromer_0/results*
wandb
presentation/experiments/astromer_0/backup/
presentation/experiments/astromer_2/results_2/
/spectral_3000
.DS_Store
/spectral_15000
/test_run

presentation/experiments/astromer_0/results
presentation/experiments/astromer_1/results
presentation/experiments/astromer_2/results

data/embeddings/
/data/records
results/
